<%- include header %>
<form method="post">
user:   <input type="text" name="name"/><br />
passwd: <input type="password" name="password"/><br />
        <input type="submit" value="denglu" />
</form>

<%- include footer %>
